services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: riftteam
      POSTGRES_PASSWORD: riftteam
      POSTGRES_DB: riftteam
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
