@import 'tailwindcss';

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgb(75 85 99) transparent;
}
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgb(75 85 99);
  border-radius: 2px;
}
